<h3>Class: <%= @course.name %></h3>
<p>Day: <%= @course.day %></p>
<p>Time: <%= @course.time %></p>
<p>Student: <%=@course.student.first_name %> <%=@course.student.last_name %> (ID: <%=@course.student_id %>)</p>
<p>Teacher: <%=@course.teacher.first_name %> <%=@course.teacher.last_name %> (ID: <%=@course.teacher_id %>)</p>
